@using LR6.Services
@{
    ViewData["Title"] = "Make order";
}

<head>
    <link rel="stylesheet" href="~/css/makeOrder.css" />
</head>

@if (!string.IsNullOrEmpty((string?)ViewData["ErrorMessage"]))
{
    var errorMessage = ViewData["ErrorMessage"] as string;
    <div class="error-message">@errorMessage</div>
    <div class="back-link">
        <a asp-action="Index">Click here to return</a>
    </div>
}
else
{
    <div class="text-center">
        <h3>
            How many products would you like to order?
        </h3>
        <br /><br />
        <form asp-action="CreateOrder" method="get" class="order-form">
            <div class="form-group">
                <label id="quantity">Quantity: </label>
                <input name="quantityOfProductTypes" type="number" value="1" min="1" max="@((ViewData["AvailableProducts"] as IReadOnlyCollection<ProductModel>).Count)" />
                <label id="pcs">pcs.</label>
            </div>
            <br />
            <p>
                Available:
            </p>
            <ul>
                <li>Pizzas</li>
                <li>Beverages</li>
                <li>Appetisers</li>
            </ul>
            <input type="submit" value="Next" class="submit-btn" />
            <input type="hidden" name='userGuid' value="@ViewData["newUserGuid"]" />
        </form>
    </div>
}